spring:
  profiles:
    # datasource ???
    include: datasource

  jpa:
    hibernate:
      # update ??? ????? ??? ??
      ddl-auto: update
    show-sql: true # ?? ??

  servlet:
    multipart:
      max-file-size: 50MB # ??? ??? ?? ?? ?? ???
      max-request-size: 70MB # ? ??? ???? ?? ?? ?? ???
      # 50MB? 2?? ?? 100MB? ??? ? ??.
